{% extends "morpion/base.html" %}
{% block content %}
<div class="container" id="game-board">
    <h1>Game in progress - {{ game.title }}</h1>
    <h2>Players:</h2>
    <p class="player-name lead" id="player1">Player 1 : {{ game.creator.username }} (Creator)</p>
    <p class="player-name lead" id="player2">Player 2 : {{ game.player2.username }}</p>
    <p class="player-name lead" id="active-player">The turn of : {{ game.active_player }}</p>
    {% if game.access_code is not None and game.creator == request.user %}
    <p class="player-name">Access code : {{ game.access_code }}</p>
    {% endif %}
    <button class="btn btn-outline-danger mb-4" onclick="setAbandon('{{ request.user.username }}')">Surrender</button>

    <table id="game-grid" class="mb-4">
        {% for row in game.grid %}
        <tr>
            {% for cell in row %}
            <td class="cell" id="{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                data-game-attributes="{{ game_attributes }}" data-symbol-player2="{{ player2_image_url }}"
                data-symbol-player1="{{ player1_image_url }}" onclick="gameManagement(this)"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}