{% extends "morpion/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="text-center border p-4">
        <h1 class="display-4 mb-4">Fin de la partie : {{ game.title }}</h1>
        <h2 class="text-muted font-weight-normal mb-4">Créée par {{ game.creator }}</h2>
        {% if winner != "Match nul" %}
            <p class="lead mb-4">Le joueur {{ winner }} a gagné !</p>
        {% else %}
            <p class="lead mb-4">La partie s'est terminée par un match nul.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
