{% extends "morpion/base.html" %}
{% block content %}
<div class="container mt-4">
    {% if messages %}
        <div class="alert alert-dismissible {% if messages.tags %} alert-{{ messages.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ game.creator.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-games' game.creator.username %}">{{ game.creator }}</a>
           <small class="text-muted">Last edit : {{ game.updated_at|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'game-detail' game.id %}">{{ game.title }}</a></h2>
        <p class="article-content">Grid size : {{ game.grid_size }} x {{ game.grid_size }}</p>
        <p class="article-content">Required alignment : {{ game.alignment }}</p>
        <form method="post" action="{% url 'confirm-join-game' game.id %}" class="mt-4">
          {% csrf_token %}
  
          {% if game.is_private and request.user != game.creator %}
              {{ form.as_p }}
          {% endif %}
  
          <button class="btn btn-primary" type="submit" name="join">Join game</button>
          <input class="btn btn-danger" type="submit" name="cancel" value="Annuler">
      </form>
      </div>
      
     </article>
</div>
{% endblock %}
