{% extends "morpion/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.creator.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-games' game.creator.username %}">{{ game.creator }}</a>
            <small class="text-muted">Last edit : {{ game.updated_at|date:"F d, Y" }}</small>
            {% if object.creator == user and object.status == "waiting" %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'game-update' game.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'game-delete' game.id %}">Delete</a>
                    {% if object.is_private %}
                        <p>Access code : {{ object.access_code }}</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">Grid size : {{ game.grid_size }} x {{ game.grid_size }}</p>
        <p class="article-content">Required alignment : {{ game.alignment }}</p>
        <a href="{% url 'confirm-join-game' game.id %}" class="btn btn-primary">Join game</a>
    </div>
</article>
{% endblock content %}
