{% extends "morpion/base.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenue sur HELBMorpion</h1>
    <p class="lead">Jouez au morpion et établissez votre classement !</p>
</div>
{% if games %}
  {% for game in games %}
  <article class="media content-section">
   <img class="rounded-circle article-img" src="{{ game.creator.profile.image.url }}">
   <div class="media-body">
     <div class="article-metadata">
       <a class="mr-2" href="#">{{ game.creator }}</a>
        <small class="text-muted">{{ game.created_at|date:"F d, Y" }}</small>
     </div>
     <h2><a class="article-title" href="{% url 'game-detail' game.id %}">{{ game.title }}</a></h2>
     <p class="article-content">Taille de la grille : {{ game.grid_size }} x {{ game.grid_size }}</p>
     <p class="article-content">Allignement requis : {{ game.alignment }}</p>
     <a href="{% url 'confirm-join-game' game.id %}" class="btn btn-primary">Rejoindre la partie</a>
   </div>
  </article>
  {% endfor %}
{% else %}
  <p class="article-content">Il n'y a aucune partie publique disponible pour le moment</p>
{% endif %}
{% endblock %}