{% extends "morpion/base.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to HELBMorpion</h1>
    <p class="lead">Play games and establish your ranking!</p>
</div>

<form method="get" action="" class="form-inline">
  <div class="form-group mr-2">
    <label class="col-form-label mr-2" for="{{ filter_form.grid_size.id_for_label }}">Grid size : </label>
    {{ filter_form.grid_size }}
  </div>

  <div class="form-group mr-2">
    <label class="col-form-label mr-2" for="{{ filter_form.alignment.id_for_label }}">Alignment : </label>
    {{ filter_form.alignment }}
  </div>

  <button type="submit" class="btn btn-primary">Filtrer</button>
</form>

{% if games %}
  {% for game in games %}
  <article class="media content-section">
   <img class="rounded-circle article-img" src="{{ game.creator.profile.image.url }}">
   <div class="media-body">
     <div class="article-metadata">
       <a class="mr-2" href="{% url 'user-games' game.creator.username %}">{{ game.creator }}</a>
       <small class="text-muted">Last edit : {{ game.updated_at|date:"F d, Y" }}</small>
     </div>
     <h2><a class="article-title" href="{% url 'game-detail' game.id %}">{{ game.title }}</a></h2>
     <p class="article-content">Grid size : {{ game.grid_size }} x {{ game.grid_size }}</p>
     <p class="article-content">Required alignment : {{ game.alignment }}</p>
     <a href="{% url 'confirm-join-game' game.id %}" class="btn btn-primary">Join game</a>
   </div>
  </article>
  {% endfor %}
{% else %}
  <p class="article-content">There are no games available at the moment...</p>
  <a href="{% url 'game-create' %}">Click here to create one!</a>
{% endif %}

{% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}

{% endblock %}