{% extends "morpion/base.html" %}
{% block content %}
<h1 class="mb-3">Parties créées par {{ view.kwargs.username }}</h1>
{% if games %}
{% for game in games %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ game.creator.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-games' game.creator.username %}">{{ game.creator }}</a>
            <small class="text-muted">{{ game.updated_at|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'game-detail' game.id %}">{{ game.title }}</a></h2>
        <p class="article-content">Taille de la grille : {{ game.grid_size }} x {{ game.grid_size }}</p>
        <p class="article-content">Alignement requis : {{ game.alignment }}</p>
        <a href="{% url 'confirm-join-game' game.id %}" class="btn btn-primary">Rejoindre la partie</a>
    </div>
</article>
{% endfor %}
{% else %}
<p class="article-content">Cet utilisateur n'a aucune partie en attente</p>
{% endif %}

{% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">Début</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Suivant</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Fin</a>
    {% endif %}
{% endif %}

{% endblock content %}